@import '../_variables.scss';
.box-wrapper {
  padding-bottom: 50px;
  position: relative;
}
.box__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  h2 {
    @include text-styles($primary-color, 25px, 120%, 700);
  }
}
.box__content {
  @include text-styles($text-color, 14px, 150%, 400);
}
