@import '../_variables.scss';

.btn {
  width: fit-content;
  display: flex;
  height: 40px;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $text-color;
  border: none;
  border-radius: 5px;
  @include button-styles(#fff);

  span {
    color: #fff;
    padding-left: 10px;
  }
}

.btn:hover {
  background-color: $primary-color;
}

.btn-icon {
  color: rgb(255, 255, 255);
}
