@import '../_variables.scss';

.constact__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__item {
  display: flex;
  gap: 40px;
  align-items: center;

  h4 {
    @include text-styles($text-color, 16px, 120%, 700);
  }
  p {
    @include text-styles($description-color, 16px, 120%, 400);
  }
}

.contact__icon {
  height: 30px;
  width: 30px;
}
