@import '../_variables.scss';
.experience {
  &__wrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    align-items: flex-start;
  }

  &__info {
    min-width: 80px;
  }
}
.info {
  &__title {
    @include text-styles($text-color, 16px, 120%, 700);
    margin-bottom: 5px;
  }

  &__year {
    @include text-styles($description-color, 16px, 120%, 400);
  }
}
.desc {
  &__desc {
    @include text-styles($text-color, 14px, 150%, 400);
  }
}
