@import '../_variables.scss';
.feedback__img {
  display: block;
}
.feedback__list--item {
  p {
    padding: 15px;
    background-color: #eee;
    @include text-styles($text-color, 14px, 150%, 400);
  }
}
.feedback__reporter--info {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.feedback__title {
  @include text-styles($text-color, 14px, 120%, 400);

  .feedback__link {
    @include text-styles($primary-color, 12px, 120%, 400);
  }
}

.feedback__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
