.main {
  background-image: url('../../assets/img/main-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  background-attachment: fixed;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
