@import '../_variables.scss';
nav {
  overflow: hidden;
}

.menu-item {
  @include text-styles($description-color, 16px, 120%, 400);
}

.link {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  color: $description-color;
  padding: 10px 15px;
  transition: all 0.4s ease-in-out;
}
.link:hover {
  color: aquamarine;
  font-weight: 600;
}
.icon,
.link__text {
  font-size: 16px;
}

.link-text {
  min-width: max-content;
}

@media (max-width: 600px) {
  .link-text {
    display: none;
  }
}
