.not-found {
  position: relative;
  height: 100%;
}
.link-go__home {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: #222935;

  .button--not {
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
  }
}

.button--not:hover {
  background-color: #26c17e;
  color: #fff;
}

.desc--not {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  color: #222935;
}

.title--not {
  color: #222935;

  text-align: center;
  font-size: 15em;
  font-weight: 100;
  text-shadow: #26c17e 1px 1px, 2px 2px, 3px 3px, #26c17e 4px 4px, #26c17e 5px 5px, #26c17e 6px 6px, #26c17e 7px 7px, #26c17e 8px 8px, #26c17e 9px 9px,
    #26c17e 10px 10px, #26c17e 11px 11px, #26c17e 12px 12px, #26c17e 13px 13px, #26c17e 14px 14px, #26c17e 15px 15px, #26c17e 16px 16px,
    #26c17e 17px 17px, #26c17e 18px 18px, #26c17e 19px 19px, #26c17e 20px 20px, #26c17e 21px 21px, #26c17e 22px 22px, #26c17e 23px 23px,
    #26c17e 24px 24px, #26c17e 25px 25px, #26c17e 26px 26px, #26c17e 27px 27px, #26c17e 28px 28px, #26c17e 29px 29px, #26c17e 30px 30px,
    #26c17e 31px 31px, #26c17e 32px 32px, #26c17e 33px 33px, #26c17e 34px 34px, #26c17e 35px 35px, #26c17e 36px 36px, #26c17e 37px 37px,
    #26c17e 38px 38px, #26c17e 39px 39px, #26c17e 40px 40px, #26c17e 41px 41px, #26c17e 42px 42px, #26c17e 43px 43px, #26c17e 44px 44px,
    #26c17e 45px 45px, #26c17e 46px 46px, #26c17e 47px 47px, #26c17e 48px 48px, #26c17e 49px 49px, #26c17e 50px 50px, #26c17e 51px 51px,
    #26c17e 52px 52px, #26c17e 53px 53px, #26c17e 54px 54px, #26c17e 55px 55px, #26c17e 56px 56px, #26c17e 57px 57px, #26c17e 58px 58px,
    #26c17e 59px 59px, #26c17e 60px 60px, #26c17e 61px 61px, #26c17e 62px 62px, #26c17e 63px 63px, #26c17e 64px 64px, #26c17e 65px 65px,
    #26c17e 66px 66px, #26c17e 67px 67px, #26c17e 68px 68px, #26c17e 69px 69px, #26c17e 70px 70px, #26c17e 71px 71px, #26c17e 72px 72px,
    #26c17e 73px 73px, #26c17e 74px 74px, #26c17e 75px 75px, #26c17e 76px 76px, #26c17e 77px 77px, #26c17e 78px 78px, #26c17e 79px 79px,
    #26c17e 80px 80px, #26c17e 81px 81px, #26c17e 82px 82px, #26c17e 83px 83px, #26c17e 84px 84px, #26c17e 85px 85px, #26c17e 86px 86px,
    #26c17e 87px 87px, #26c17e 88px 88px, #26c17e 89px 89px, #26c17e 90px 90px, #26c17e 91px 91px, #26c17e 92px 92px, #26c17e 93px 93px,
    #26c17e 94px 94px, #26c17e 95px 95px, #26c17e 96px 96px, #26c17e 97px 97px, #26c17e 98px 98px, #26c17e 99px 99px, #26c17e 100px 100px,
    #26c17e 101px 101px, #26c17e 102px 102px, #26c17e 103px 103px, #26c17e 104px 104px, #26c17e 105px 105px, #26c17e 106px 106px, #26c17e 107px 107px,
    #26c17e 108px 108px, #26c17e 109px 109px, #26c17e 110px 110px, #26c17e 111px 111px, #26c17e 112px 112px, #26c17e 113px 113px, #26c17e 114px 114px,
    #26c17e 115px 115px, #26c17e 116px 116px, #26c17e 117px 117px, #26c17e 118px 118px, #26c17e 119px 119px, #26c17e 120px 120px, #26c17e 121px 121px,
    #26c17e 122px 122px, #26c17e 123px 123px, #26c17e 124px 124px, #26c17e 125px 125px, #26c17e 126px 126px, #26c17e 127px 127px, #26c17e 128px 128px,
    #26c17e 129px 129px, #26c17e 130px 130px, #26c17e 131px 131px, #26c17e 132px 132px, #26c17e 133px 133px, #26c17e 134px 134px, #26c17e 135px 135px,
    #26c17e 136px 136px, #26c17e 137px 137px, #26c17e 138px 138px, #26c17e 139px 139px, #26c17e 140px 140px, #26c17e 141px 141px, #26c17e 142px 142px,
    #26c17e 143px 143px, #26c17e 144px 144px, #26c17e 145px 145px, #26c17e 146px 146px, #26c17e 147px 147px, #26c17e 148px 148px, #26c17e 149px 149px,
    #26c17e 150px 150px, #26c17e 151px 151px, #26c17e 152px 152px, #26c17e 153px 153px, #26c17e 154px 154px, #26c17e 155px 155px, #26c17e 156px 156px,
    #26c17e 157px 157px, #26c17e 158px 158px, #26c17e 159px 159px, #26c17e 160px 160px, #26c17e 161px 161px, #26c17e 162px 162px, #26c17e 163px 163px,
    #26c17e 164px 164px, #26c17e 165px 165px, #26c17e 166px 166px, #26c17e 167px 167px, #26c17e 168px 168px, #26c17e 169px 169px, #26c17e 170px 170px,
    #26c17e 171px 171px, #26c17e 172px 172px, #26c17e 173px 173px, #26c17e 174px 174px, #26c17e 175px 175px, #26c17e 176px 176px, #26c17e 177px 177px,
    #26c17e 178px 178px, #26c17e 179px 179px, #26c17e 180px 180px, #26c17e 181px 181px, #26c17e 182px 182px, #26c17e 183px 183px, #26c17e 184px 184px,
    #26c17e 185px 185px, #26c17e 186px 186px, #26c17e 187px 187px, #26c17e 188px 188px, #26c17e 189px 189px, #26c17e 190px 190px, #26c17e 191px 191px,
    #26c17e 192px 192px, #26c17e 193px 193px, #26c17e 194px 194px, #26c17e 195px 195px, #26c17e 196px 196px, #26c17e 197px 197px, #26c17e 198px 198px,
    #26c17e 199px 199px, #26c17e 200px 200px;
}
