@import '../_variables.scss';

.panel {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 20px;

  padding-bottom: 30px;
  position: relative;
  background-color: $text-color;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  width: 250px;
  &.collapse {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translate(-100%, 0%);
  }
}
.panel-wrapper {
  width: 250px;
  position: fixed;
  top: 20px;
  display: flex;
  flex-direction: column;
}
.bars {
  align-self: flex-end;
  width: fit-content;
  text-align: right;
  position: relative;
  top: 0px;
  right: -30px;
  background-color: #222935;
  padding: 10px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: -1;
}

.back-btn {
  align-self: center;
  position: fixed;
  top: 95%;
}

.panel__photobox-wrapper {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .panel {
    width: 50px;
    .btn span {
      display: none;
    }
  }
  .panel-wrapper {
    width: 50px;
  }
  .panel__photobox-wrapper img {
    width: 40px;
    height: 40px;
  }
  .panel__photobox-wrapper .title {
    display: none;
  }
}
