@import '../_variables.scss';
.title {
  color: white;
  margin-bottom: 10px;

  @include text-styles(#fff, 45px, 120%, 700);

  width: fit-content;
  &:not(:empty) {
    margin: 0 auto 10px auto;
  }

  &.title--small {
    font-size: 25px;
  }
}
.subtitle {
  @include text-styles(#fff, 25px, 120%, 600);

  &:not(:empty) {
    margin-bottom: 20px;
  }
}
.desc {
  max-width: 500px;
  text-align: center;
  @include text-styles(#fff, 14px, 150%, 400);

  &:not(:empty) {
    margin-bottom: 20px;
  }
}

h1.add__title {
  @include text-styles(#fff, 16px, 120%, 700);

  text-align: center;
}

@media (max-width: 540px) {
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 20px;
  }

  .desc {
    &:not(:empty) {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 15px;
  }

  .desc {
    font-size: 12px;
  }
}

.photobox__img {
  display: block;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease-in;
}
