@import '../_variables.scss';
.portfolio__btn {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  transition: all 0.4s ease-in;
  @include button-styles($text-color);
  &.active {
    color: $primary-color;
  }
  &:last-child {
    margin-bottom: 20px;
  }
}

.filter-item.ui,
.filter-item.code {
  cursor: pointer;
}
.card {
  width: 300px;
  height: 190px;
  overflow: hidden;
  .card__content {
    background-color: #fff;
    height: 100%;
    border: 1px solid #ddd;
    padding: 20px 15px 30px 15px;
    transform: translate(0, 100%);
    transition: all 0.5s ease-in-out;
  }

  .card__title {
    @include text-styles($primary-color, 16px, 120%, 700);
    margin-bottom: 10px;
  }

  .card__desc {
    @include text-styles($text-color, 14px, 150%, 400);
    margin-bottom: 10px;
  }

  .card__link {
    @include text-styles($primary-color, 14px, 120%, 400);
    text-decoration-line: underline;
  }

  &:hover {
    .card__content {
      transform: translate(0, 0);
    }
  }
}

.filter-container .filter-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
