@import '../_variables.scss';

.skills-list {
  li {
    display: block;
    min-height: 29px;
    padding: 5px 0px 5px 15px;

    background-color: $primary-color;
    p {
      color: #fff;
      width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.skills-level {
  margin-top: 20px;
  @include text-styles($description-color, 12px, 120%, 400);
  border-top: 1px solid #667081;
  display: flex;
  align-items: center;
  padding-top: 10px;
  li {
    position: relative;
    &:first-child {
      margin-right: 150px;
    }
    &:last-child {
      margin-left: 143px;
    }
    &:nth-child(2) {
      margin-right: auto;
    }

    &::before {
      position: absolute;
      left: 50%;
      top: -20px;
      display: block;
      content: '';
      width: 1px;
      height: 9px;
      background-color: #667081;
    }
    &:first-child::before {
      left: 0;
    }
    &:last-child::before {
      left: auto;
      right: 0;
      top: -20px;
    }
  }
}

@media (max-width: 840px) {
  .skills-level {
    li {
      &:first-child {
        margin-right: 100px;
      }
      &:last-child {
        margin-left: 50px;
      }
    }
  }
}
@media (max-width: 450px) {
  .skills-list li {
    padding: 5px 0px 5px 5px;
  }
  .skills-level {
    li {
      &:first-child {
        margin-right: 30px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

.edit-btn {
  position: absolute;
  right: 0;
  top: 5px;
}

.add-skills-block {
  border: 1px solid $primary-color;
  padding: 20px 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
