@import '../_variables.scss';

.time__line {
  margin-bottom: 60px;
  height: 320px;
  overflow-y: scroll;
}

.ed {
  &__item {
    display: flex;
    gap: 100px;

    align-items: stretch;
  }

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  &__vertical-line {
    border-left: 5px solid #26c17e;
    height: 100px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }

  &__box {
    background: #eee;
    padding: 15px;
    position: relative;
  }

  &__title {
    @include text-styles($text-color, 16px, 120%, 700);
    margin-bottom: 10px;
  }

  &__desc {
    @include text-styles($text-color, 14px, 150%, 400);
  }
}

.ed__box::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 100%;
  border: 10px solid transparent;
  border-left-color: #eeeeee;
  transform: rotate(-180deg);
}

.data-title {
  @include text-styles($text-color, 16px, 120%, 700);
}

.ed__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loading__icon {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  top: 50%;
  fill: #26c17e;
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 780px) {
  .ed {
    &__item {
      gap: 25px;
    }
  }
}

@media (max-width: 868px) {
  .ed__item {
    gap: 20px;
  }
}

/* scroll */
.time__line::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}
/* .time__line::-webkit-scrollbar-track {
  background: transparent;

.time__line::-webkit-scrollbar-thumb {
} */
