@import '../_variables.scss';

.input-value {
  padding: 5px;
  border: 1px solid var(--main-raven, #667081);
  max-width: 270px;
  border-radius: 5px;
}
.error-input {
  border: 1px solid red;
}

.error {
  span {
    color: red;
  }
}

.form-btn {
  padding: 10px 20px;
  text-align: center;
  @include text-styles($text-color, 16px, 120%, 400);
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
.error-input {
  border: 1px solid red;
}

.error {
  color: red;
}

.form-label {
  margin-right: 20px;
  width: 80px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.field {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .form-label {
    display: none;
  }
  .add-skills-block {
    width: 280px;
  }
  .form-btn {
    font-size: 14px;
  }
}
