$primary-color: #26c17e;
$description-color: #667081;
$text-color: #222935;

/* mixins */

@mixin button-styles($color) {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: $color;
  cursor: pointer;
  transition: all 0.4s ease-in;
}

@mixin text-styles($color, $fontSize, $lineHeight, $fontWeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}
